@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
::selection{
  color: rgba(255, 251, 3, 0.85);
}